#name { 
    font-family: monospace;
    font-size: 50px;
    text-decoration: underline;
    color: olive;
    opacity: 0.3;
}

.about {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


h1, li {
    color: red;
}

li:hover {
    color: blue;
}

h4.about {
    color: orange;
}


@media (min-width: 500px) {
    body {
        background-color: #EEEEEE;
    }
}

@media (max-width: 400px) {
    body {
        background-color: #E0EEEE;
    }
}

.news {
    text-align: center;
}
